<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <springProperty name="LOG-FILE-DIR" scope="context" source="logging.file.path"/>
  <springProperty name="LOG-FILE-PREFIX" scope="context" source="spring.application.name"/>
  <property scope="context" name="LOG_PATTERN" value="%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} %p %c{1.} [%t] %m%n"/>
  <property scope="context" name="MAX_FILE_SIZE" value="50MB"/>

  <appender class="ch.qos.logback.core.ConsoleAppender" name="CONSOLE">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
    </layout>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>DEBUG</level>
    </filter>
  </appender>

  <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="SYSTEM">
    <append>true</append>
    <encoder>
      <pattern>${LOG_PATTERN}</pattern>
    </encoder>
    <file>${LOG-FILE-DIR}/${LOG-FILE-PREFIX}-SYSTEM.log</file>
    <immediateFlush>true</immediateFlush>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>${LOG-FILE-DIR}/archived/${LOG-FILE-PREFIX}.%d{yyyy-MM-dd}-SYSTEM.%i.log.gz</fileNamePattern>
      <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
    </rollingPolicy>
  </appender>

  <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="APP">
    <append>true</append>
    <encoder>
      <pattern>${LOG_PATTERN}</pattern>
    </encoder>
    <file>${LOG-FILE-DIR}/${LOG-FILE-PREFIX}-INFO.log</file>
    <immediateFlush>true</immediateFlush>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>${LOG-FILE-DIR}/archived/${LOG-FILE-PREFIX}.%d{yyyy-MM-dd}-INFO.%i.log.gz</fileNamePattern>
      <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
    </rollingPolicy>
  </appender>

  <!--  <logger level="error" name="jdk"/>-->
  <logger level="error" name="sun"/>
  <logger level="error" name="java"/>
  <logger level="error" name="jdk"/>
  <logger level="error" name="javax"/>
  <logger level="error" name="org"/>
  <logger level="error" name="jdbc"/>
  <logger level="error" name="log4jdbc"/>

  <logger level="info" name="org.springframework.web.servlet.DispatcherServlet"/>
  <logger level="error" name="org.hibernate.engine.internal.StatisticalLoggingSessionEventListener"/>
  <logger level="error" name="com.zaxxer"/>

  <logger level="info" name="org.eclipse"/>
  <logger level="info" name="org.springframework.boot.autoconfigure.logging.ConditionEvaluationReportLoggingListener"/>
  <logger level="info" name="org.hibernate"/>

  <logger level="debug" name="org.springframework.web"/>
  <logger level="trace" name="com.crd"/>

  <!--Turn the below on to trace if needed to see data bindings for each SQL-->
  <!--  <logger level="trace" name="org.hibernate.type.descriptor.sql"/>-->

  <logger level="debug" name="com.crd">
    <appender-ref ref="APP"/>
  </logger>

  <root level="TRACE">
    <appender-ref ref="SYSTEM"/>
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>